* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(22, 22, 22);
}

#root {
}

button {
  margin: 10px;
}

.screen {
  background: linear-gradient(#e96464, #5e76e0);
  color: white;
  font-size: 50px;
  padding: 1rem;
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.empty {
  text-align: center;
  color: rgb(230, 230, 230);
}

.select {
  margin: 0 10px;
}

.filter:active {
  border: 3px solid red;
}

.post-enter {
  transform: translateX(-100%);
}

.post-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.post-exit {
opacity: 1;
}

.post-exit-active {
  transform: translateX(-100%);
  transition: all 500ms ease-in
}

h1 {
  color: rgb(230, 230, 230) 
}